.nvar{
    background-color:#FFFFFF;
    font-size: 14px;
    
}

.textoBarra{
    padding-top: 25px;
    color: #01633B;  
    font-size: 20px;
    font-family:'Open Sans', sans-serif;
}

.barrita{
    margin-top:33px !important;
    padding-right: 30px !important; 
    padding-left: 30px !important; 
    border-top: 3px solid #01633B !important;
}

.centrado{
    margin-left: 10px;
    margin-top: 100px;
}

.centrado1{
    margin-left: 300px;
}
.espacio{
    margin-top: 150px;
}
.otrotex{
    font-size: 26px;
    font-family:'Open Sans', sans-serif;
    margin-right: 200px;
}

.boton{
    margin-left: 1250px;
}

.textoinicial{
    font-size: 13px;
    font-family:'Open Sans', sans-serif;

}

.parallax {
    /* The image used */
    background-image: url('/Assets/para.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
  }

  .com{
    /* margin-right: 50.125px !important; */
    margin:  26.859px, 134.312px, 0px, 134.297px !important;
    padding-top: 27px;
    height: 294.156px !important; 
    width: 1106.61px !important; 
}

.mov{
    margin-top: 25px;
}

.textocu{
    text-align: center;

}

.botonParallax{
    transition: 0.3s;
    background-color:transparent;
    color: #FFFFFF;
    border:none;
    border-radius:10px;
    font-size:35px;
    min-height:50px; 
    min-width: 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.anim:hover{
    transition: 0.3s;
    background-color:transparent;
    color: #FFFFFF;
    border:none;
    border-radius:10px;
    font-size:25px;
    min-height:100px; 
    min-width: 270px;
    text-align: center;
}

.sombra{
    box-shadow: 10px 10px 5px #bcbcbc;
    margin-bottom: 30px;
}

.button5{
    transition: 0.3s;
    background-color:#FFFFFF;
    color: #01633B;
    border:none;
    border-radius:0px;
    font-size:25px;
    min-height:50px; 
    min-width: 150px;
}

.button5 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button5 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button5:hover span {
    padding-right: 25px;
  }
  
  .button5:hover span:after {
    opacity: 1;
    right: 0;
  }

  .Icon{
    transition: 0.3s;
    color:#424242;
    font-size: 50px;
}
.Icon:hover{
    transition: 0.3s;
    color:#007F04;
    font-size: 60px;
}