.nvar{
    background-color:#FFFFFF;
}

.textoBarra{
    padding-top: 25px;
    color: #01633B;  
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
}

.barrita{
    margin-top:33px !important;
    padding-right: 30px !important; 
    padding-left: 30px !important; 
    border-top: 3px solid #01633B !important;
}

.centrado{
    margin-left: 10px;
    margin-top: 100px;
}

.centrado1{
    margin-left: 300px;
}
.espacio{
    margin-top: 150px;
}
.otrotex{
    font-size: 26px;
    font-family:'Open Sans', sans-serif;
    margin-right: 200px;
}

.boton{
    margin-left: 1200px;
}
.imagen{
  margin-bottom: 500px;
}

.textoinicial{
    font-size: 13px;
    font-family:'Open Sans', sans-serif;

}
